---
name: CMake on multiple platforms

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["develop"]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations.
      # Consider changing this to true when your workflow is stable.
      fail-fast: false

      # To add more build types (Release, Debug, RelWithDebInfo, etc.) customize the build_type list.
      matrix:
        os: [ubuntu-latest, macos-15, windows-latest]
        build_type: [Debug, Release]
        c_compiler: [gcc, clang, cl]
        include:
          - os: windows-latest
            c_compiler: cl
            generator: 'NMake Makefiles'
          - os: ubuntu-latest
            c_compiler: gcc
            generator: 'Unix Makefiles'
          - os: ubuntu-latest
            c_compiler: clang
            generator: 'Unix Makefiles'
          - os: macos-15
            c_compiler: gcc
            generator: 'Unix Makefiles'
          - os: macos-15
            c_compiler: clang
            generator: 'Unix Makefiles'
        exclude:
          - os: windows-latest
            c_compiler: gcc
          - os: windows-latest
            c_compiler: clang
          - os: ubuntu-latest
            c_compiler: cl
          - os: macos-15
            c_compiler: cl

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - uses: seanmiddleditch/gha-setup-ninja@master

      # see https://github.com/mathstuf/cxx-modules-sandbox/blob/master/.github/workflows/cmake.yml
      - name: Visual Studio toolchain environment
        uses: TheMrMilchmann/setup-msvc-dev@v1
        if: matrix.os == 'windows-latest'
        with:
          arch: x64

      - name: Configure CMake
        run: >
          cmake -B build
          -D CMAKE_C_COMPILER=${{ matrix.c_compiler }}
          -D CMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -D CMAKE_INSTALL_PREFIX=/tmp/install
          -S ${{ github.workspace }}
          -G "${{ matrix.generator }}"

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }}

      - name: Test
        run: ctest --test-dir build --build-config ${{ matrix.build_type }} --verbose --output-on-failure
